.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.attribute-card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.small-icon {
  font-size: 0.75em;
}
 
/* Setting Text Color */
.gray-color {
    color: #9c9c9c;
}

.exp-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.symbol, .separator {
  margin-right: 0.5rem; /* Adjust spacing between symbols and separators */
}

.symbol {
  min-width: 1rem; /* Ensure consistent spacing */
}

.separator {
  margin-right: 1rem; /* Add extra space after a group of 5 symbols */
}

@media (max-width: 768px) {
  .exp-display {
      justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .exp-display {
      justify-content: space-around;
  }
}
